@media (max-width: 700px) {
    .menu .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li {
        float: none;
    }

    .menu .navbar ul li a {
        padding: 15px;
    }

    .menu .navbar ul.show {
        display: flex;
    }
    
    .menu label {
        display: block;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 45px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .header-txt p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .btn-1 {
        padding: 10px 30px;
        font-size: 18px;
    }

    .direction {
        padding: 20px 0;
    }

    .direction p {
        font-size: 14px;
    }

    .about-txt h2 {
        font-size: 30px;
    }

    .about-txt p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .information-1 h3 {
        font-size: 30px;
    }

    .information-1 p {
        font-size: 14px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .house-1 h3,
    .house-2 h3,
    .house-3 h3,
    .house-4 h3,
    .house-5 h3 {
        font-size: 25px;
    }

    .house-1 p,
    .house-2 p,
    .house-3 p,
    .house-4 p,
    .house-5 p {
        font-size: 14px;
    }
}